.week-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 60px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, rgb(237, 106, 90), rgb(244, 241, 187))
}

.humidity {
  display: flex;
  gap: 10px;
  align-items: center;
}

.temperature {
  display: flex;
  gap: 15px;
}

.week-img {
  width: 60px;
}

.humidity-img {
  width: 20px;
}