.day-wrapper {
  display: flex;
  background-color: #ccced8;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}

.icon-wrapper {
  gap: 20px;
  display: flex;
}

.day-img {
  width: 150px;
}

.city {
  text-align: center;
  background-color: aqua;
}

.description {
  text-align: center;
}