.background {
  background-color: #ccced8;
  border-radius: 20px;
}

.day-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 60px;
}

.icon-wrapper {
  gap: 20px;
  display: flex;
}

.day-img {
  width: 50px;
}